<app-navbar></app-navbar>
<div class="card">
  <div class="container">
    <div class="container-right">
      <button class="btn btn-outline-primary" (click)="showData=!showData">Mostrar Datos</button>
      <div *ngIf="showData">
        <tr>
          DNI: {{user.dni}}
        </tr>
        <tr>
          Nombre: {{user.name}}
        </tr>
        <tr>
          Apeliido: {{user.surname}}
        </tr>
        <tr>
          Email: {{user.email}}
        </tr>
        <tr>
          Fecha Creacion: {{(user.createdAt)}}
        </tr>
      </div>
    </div>
    <div *ngIf="showData" class="container-left">
      <button class="btn btn-outline-success" (click)="pass=!pass" [disabled]="mail">Modificar Password</button>
      <div *ngIf="pass">
        <input type="text" placeholder="Ingresar Password Actual">
        <input type="text" placeholder="Ingresar Nueva Password">
        <input type="text" placeholder="Ingresar Nueva Password Nuevamente">
      </div>
      <button class="btn btn-outline-success" (click)="mail=!mail" [disabled]="pass">Modificar Email</button>
      <div *ngIf="mail">
        <input type="text" placeholder="Ingresar Nuevo Email">
      </div>
    </div>
    <button *ngIf="pass || mail" class="btn btn-success">Modificar</button>
  </div>
</div>